﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.nav-bar ul {
    list-style: none;
    float: right;
}

.nav-bar li {
    float: left;
    padding: 15px 20px;
    font-size: 18px;
}

.nav-bar {
    background-color: black;
    overflow: auto;
    color: white;
}

    .nav-bar a {
        color: white;
    }

    .nav-bar .logo {
        display: inline;
        float: left;
        padding-top: 10px;
    }

    .nav-bar ul li a:hover {
        color: orange;
        background-color: gray;
    }

.showcase .container {
    text-align: center;
}

.showcase1 .showcase .container h1 {
    padding: 15px 25px;
    padding-top: 100px;
}

.btn-showcase {
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: black;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: white;
}

.btn-showcase a:hover {
    color: orange;
}

.showcase {
    background: url('./image/showcase.jpg') no-repeat center content-box;
    background-attachment: fixed;
    height: 400px;
    background-size: 100%;
}

.btn-light {
    background-color: gray;
    padding: 10px 10px;
    border-radius: 5px;
}

    .btn-light a {
        color: white;
    }

        .btn-light a:hover {
            color: orange;
        }

#home-info {
    height: 400px;
}

    #home-info .history-image {
        background: url("./image/photo-1.jpg") no-repeat center center;
        float: left;
        width: 50%;
        min-height: 100%;
        background-size: cover;
    }

    #home-info #history-content {
        float: right;
        width: 50%;
        padding: 10px 10px;
        height: 100%;
        text-align: center;
        background-color: black;
        border-color: gray;
        border-style: solid;
        border-width: 5px;
    }

        #home-info #history-content h2 {
            padding-top: 30px;
            margin-top: 60px;
        }

        #home-info #history-content p {
            color: white;
            padding: 15px 25px;
            line-height: 1.8;
            font-size: 18px;
        }

#color-main {
    color: orange;
}

.box {
    float: left;
    width: 33.333%;
    padding: 50px;
    text-align: center;
    height: 100%;
}

.bg-primary {
    background-color: darkorange;
}

.bg-classic {
    background-color: lightgray;
}

.about-container {
    background-color: lightcyan;
}

    .about-container .content-right {
        float: right;
        width: 50%;
        min-height: 100%;
    }

        .about-container .content-right img {
            width: auto;
            display: block;
            width: 70%;
            margin: 18px;
            border-radius: 50%;
        }

    .about-container .content-left {
        float: left;
        width: 50%;
        min-height: 100%;
        padding: 15px 25px;
        line-height: 1.8;
    }

.about-container {
    height: 400px;
}

.testimonial .about-container {
    background: url("./image/test-bg.jpg") no-repeat center center;
    padding-top: 40px;
    height: 400px;
    text-align: center;
}

.testimonial {
    height: 400px;
}

.testimonial1 img {
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
    padding: 5px;
}

.testimonial1 {
    margin: 10px;
    text-align: start;
    background-color: #f7c08a;
    margin: 15px;
    border-radius: 10px;
    opacity: .9;
}

.testimonial1 p {
        min-height: 100px;
    }
