﻿.nav-bar .logo{
      float:none;
      text-align:center;
      padding-left:0px;
}
.nav-bar ul{
      float:none;
      text-align:center;
}
.nav-bar ul li{
      float:none;
}
.nav-bar li{
      float:none;
}
.nav-bar ul li a{
      padding:5px;
      border-bottom:5px dotted gray;
      display:block;
}
#home-info .history-image{
     display:none;
}
#home-info #history-content{
        width:100%;
}
.box {
    float: none;
    width: 100%;
    height: 100%;
}

